{% extends "layout.html" %}
 
{% block content %}
  <h3>Add Your Experience</h3>
  <hr/>
  
   {% for message in form.jobprofile.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
     {% for message in form.response.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
        {% if edit %}
            <script language="JavaScript">
        function default_settings() 
        {  var options = document.getElementById('company');
            var n;
            for (n = 0; n < options.length; ++n) {
                if (parseInt(options[n].value) == companyid) {
                    options[n].defaultSelected = true;
                    break;
                }
            }
        }
       </script>
        {% endif %} 
      
        
  <form {% if edit %}
     action="{{ url_for('addingExperience',edit=edit) }}"
     {% else %}
     action="{{ url_for('addingExperience') }}"
     {% endif %}  method=post>
    {{ form.hidden_tag() }}
    
     <h4>Company Name : </h4>
        <select name='company' class='companies' onload = "default_settings()">
      <option value='' disabled selected>Select Companies</option> 
      <option value='1'>Amazon</option>
      <option value='2'>Google</option>
      <option value='3'>Microsoft</option> 
      <option value='4'>Oracle</option>
      <option value='5'>Flipkart</option>         
        </select>
    <div id="experience">
     {{ form.jobprofile.label }}
     {{ form.jobprofile }}
     
     {{ form.response.label }}
     {{ form.response }}
     
     {{ form.tips.label }}
     {{ form.tips }}
     {% if edit %}
     {{form.update}}
     {% else %}
     {{ form.submit }}
     {% endif %}
     </div>
  </form>

     
{% endblock %}
