{% extends "layout.html" %}
 
{% block content %}
  <h2>Change password</h2>
 
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('verified_change',useremail=useremail) }}" method=post>
    {{ form.hidden_tag() }}
     
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.confirm.label }}
    {{ form.confirm }}
     
    {{ form.submit }}
  </form>
  
     
{% endblock %}
