<div class = "comment_container">
	<h3>Comments</h3>

	{% for c in comments %}
	<div class = "comment_div">
		<div class = "comment_main">
			<span class = "comment_user">{{c[1].firstname}} ( {{c[1].email}} )</span>&nbsp;&nbsp;<span class = "comment_comment">{{c[0].comment}}</span>
		</div>
		<div class = "comment_timestamp">
			add time and momentjs here
		</div>
	</div>
			{% else %}
			<h4>No Comments yet.</h4>
			{% endfor %}

			<form action="/comments/{{post.postid}}" method="post" id="commentform">

    				<textarea name="comment" id="comment" rows="2" cols="50" required="required",align="MIDDLE" placeholder = "Leave a comment"></textarea>
    				<input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
    				<input name="submit" type="submit" value="Submit comment" />

			</form>
		</div>
