{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to Student Information Portal<h2>
    {% if 'email' not in session %}
    <h3>Please <a href="{{ url_for('signin') }}" style="text-decoration:none">Login</a> / 
               <a href="{{ url_for('signup') }}"style="text-decoration:none">Signup</a> to continue<h3>
    {% endif %}
  </div>
  <br>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

 <!--Fall back to local copy of js if above fails -->
 <link rel="stylesheet" href="/static/css/jquery-ui.css">
 <script src="/static/js/jquery-1.10.2.js"></script>
 <script src="/static/js/jquery-ui.js"></script>
   <script src = "/static/js/jquery.ellipsis.js"></script>
  <script> $(".post_content").ellipsis();</script>
  
  {% include "post_container.html"  %}
  {% endblock %}
  
{% with companies= companies %}
{% include "sidebar.html" %}
{% endwith %}

