<!DOCTYPE html>
<html>
  <head>
    <title>SIP</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
<script src="/static/js/moment.js"></script>
  </head>
  <body>
    <header>
    <div class="container">
      <h1 class="logo">Student Information Portal</h1>
      <nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% if 'email' in session %}
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
	  <li><a href="{{ url_for('signin') }}">Sign In</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </header>
      
    <div class="container">
        {% with messages = get_flashed_messages() %}
      {% if messages %}
        
        {% for message in messages %}
            <div class="flash">{{ message }}</div> 
        {% endfor %}
        
      {% endif %}
    {% endwith %}
     {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
