{%  extends "layout.html" %}
{% block content %}
<br>
<br>
<div class = "post_div">
	<div class = "post_head" style = "line-height:75px;">
		<div class = "post_company" style = "margin-right:20px;">{{company.companyname}}</div>
		<div class = "postview_author" style = "float:right" >by {{user.firstname}} ( {{user.email}}  )</div>
		<div class = "postview_timestamp" style = "margin-left:10px">{{ momentjs(post.timeposted).fromNow() }}</div>
	</div>
	<div class = "post_complete_content">{{post.response}}</div>
	<div><h4><u>TIPS:</u></h4>{{post.tips}}</div>
	
</div>
<div class = "comments">
	{% include "comments.html" %}
</div>
{% endblock %}
