<div class = "postcontainer">
	<table id="posts">
		{% for p in posts %}
		<div class = "post_div">
			<div class = "post_head">
				<div class = "post_company">{{p[2].companyname}} </div>
				<div class = "post_author">by {{p[0].firstname}} ( {{p[0].email}} )</div>
				<span class = "post_timestamp">{{ momentjs(p[1].timeposted).fromNow() }}</span>
			</div>
			<p class = "post_content">{{p[1].response}}</p>
			<div class = "post_readMore">
				{% if current_user.is_authenticated() and g.user.user_id == p[0].user_id %}
				<a style = "margin-left: 4px" href = "{{url_for('edit', postid = p[1].postid)}}" >Edit</a>
				&nbsp;
				{% endif %}
				
				<a href = "/posts/{{p[1].postid}}">Read More</a></div>
		</div>
		{% else %}
			<h3>No posts.</h3>
		{% endfor %}
	</table>
  </div>
