{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Your Profile<h2>
    <h3>Name :  {{ g.user.firstname}} {{ g.user.lastname }}<h3>
  </div>
  <a href="{{url_for('addingExperience')}}" class="addingExperience"><strong>Add Experience</strong></a>
  {% if g.user.user_id == 0%}
	  <a href="{{url_for('adminverification')}}" class="adminverification_link"><strong>Verify Posts</strong></a>
  {% endif %}
  <br>
  <br>
  <h3>Your submitted experiences.</h3>
  <br>
  {% include "post_container.html"  %}
<!-- <div class = "postcontainer">
	<table id="posts">
		{% for p in posts %}
		<div class = "post_div">
			<div class = "post_head">
				<div class = "post_company">{{p[3]}} </div>
				<a href = "/posts/{{p[4]}}">View</a>
				<div class = "post_author">{{p[0]}}</div>
			</div>
			<p>{{p[1]}}</p>
		</div>
		{% else %}
			<h3>No posts.</h3>
		{% endfor %}
	</table>
</div>
-->
  {% endblock %}

