{% extends "layout.html" %}
 
{% block content %}
  <h2>Reset password</h2>
 
  {% for message in form.email_in.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
   
  <form action="{{ url_for('forget_password') }}" method=post>
    {{ form.hidden_tag() }}
     
    {{ form.email_in.label }}
    {{ form.email_in }}
    
    {{ form.submit }}
  </form>
  
{% endblock %}
