 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
 <script src="//code.jquery.com/jquery-1.10.2.js"></script>
 <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

 <!--Fall back to local copy of js if above fails -->
 <link rel="stylesheet" href="/static/css/jquery-ui.css">
 <script src="/static/js/jquery-1.10.2.js"></script>
 <script src="/static/js/jquery-ui.js"></script>
 <script>
	 $(function(){
	 var availableCompanies = [
	 {% for c in companies %}
	 "{{c.companyname}}",
	 {% endfor %}
	 ""
	 ];
	 $("#searchcompany").autocomplete({
	 	source: availableCompanies
	 });
 });
  var searchCompany = function(){
	  var company = document.getElementsByTagName("input")[0].value;//used 0 since this is the first <input> element in this page
	 location.href = '/posts/'+company; 
 }
	 </script>
	 <div class = "sidebar">
		 <input id = "searchcompany" placeholder = "Company name">
		 <button onclick = "searchCompany()">Go</button> 
	<ul>
	  {% for c in companies %}
	  <li class = "company_list_item"><a href="/posts/{{c.companyname}}">{{c.companyname}}</a></li>
	  {% endfor %}

  </ul>
  </div>
 
