{% extends "layout.html" %}
 
{% block content %}
  <h2>Sign In</h2>
 
  {% for message in form.email_in.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form action="{{ url_for('signin') }}" method=post>
    {{ form.hidden_tag() }}
     
    {{ form.email_in.label }}
    {{ form.email_in }}
     
    {{ form.password.label }}
    {{ form.password }}
     
    {{ form.submit }}
  </form>
  <a href="{{url_for('forget_password')}}" class="forgotpass"><strong>Forget Password</strong></a>
     
{% endblock %}
