{% extends "layout.html" %}
 
{% block content %}
  <h2>Verify Yourself</h2>
 
  {% for message in form.verify.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
 
  
  <form action='{{ url_for('verify',email=email) }}' method=post>
    {{ form.hidden_tag() }}
     
    {{ form.verify.label }}
    {{ form.verify }}
     
    
    {{ form.submit }}
  </form>
     
{% endblock %}
