body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
.sidebar{
  width: 230px;
  border: 1px solid;
  float: right;
  text-align: left;
  margin: 50px 55px 40px 28px;
  padding: 15px;
  text-align: left;
  display: block;
  position: relative;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
 
/*
 * Center the body content
 */
  
.container {
  width: 940px;
  margin: 0 auto;
  margin-left: 380px;
  float:left;
}
 
div.jumbo {
  padding: 10px 0 10px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {
  font-size: 3em;
  margin-top: 20px;
  text-align: center;
  letter-spacing: -2px;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}
/*
 * Display navigation links inline
 */
 
.menu {
  float: right;
  margin-top: 8px;
}
 
.menu li {
  display: inline;
}
 
.menu li + li {
  margin-left: 35px;
}
 
.menu li a {
  color: #999;
  text-decoration: none;
}
/* Contact form */
form label {
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  padding: 10px 0;
}
 
form input#name,
form input#email_c,
form input#subject {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
 
form textarea#message {
  width: 500px;
  height: 100px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 1.1em;
}
 
form input#submit,input#update {
  display: block;
  -webkit-border-radius: 3px; 
     -moz-border-radius: 3px;
          border-radius: 3px;
  border:1px solid #d8d8d8;
  padding: 10px; 
  font-weight:bold; 
  text-align: center; 
  color: #000000; 
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -moz-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -ms-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: -o-linear-gradient(top, #f4f4f4, #e5e5e5);
  background-image: linear-gradient(top, #f4f4f4, #e5e5e5);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f4f4, endColorstr=#e5e5e5);
}
 
form input#submit:hover,.forgotpass:hover,.addingExperience:hover{
  cursor: pointer;
  border:1px solid #c1c1c1; 
  background-color: #dbdbdb;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dbdbdb), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -moz-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -ms-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: -o-linear-gradient(top, #dbdbdb, #cccccc);
  background-image: linear-gradient(top, #dbdbdb, #cccccc);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#dbdbdb, endColorstr=#cccccc);
}
/* Message flashing */
.flash {
  background-color: #FBB0B0;
  padding: 10px;
  width: 400px;
}
/* Signup form */
form input#firstname,
form input#lastname,
form input#email,
form input#email_in,
form input#verify,
form input#password {
  width: 400px;
  background-color: #fafafa;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  border: 1px solid #cccccc;
  padding: 5px;
  font-size: 1.1em;
}
form input#email{
    width:150px;
}
form input#password {
  margin-bottom: 10px;
}
.forgotpass{
    text-decoration:none;
    
    color:#444;
    background-color: #fbfbfb;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    border: 1px solid #cccccc;
    padding:5px;
    font-size: 1.1em;
    position:relative;
    left:100px;
    top:-30px;
}
.addingExperience{
    text-decoration:none;
    color:#444;
    background-color: #fbfbfb;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    border: 1px solid #cccccc;
    padding:8px;
    font-size: 1.1em;
    position:relative;
    top:10px;
}
form input#jobprofile {
     width: 25%;
     height: 25px;
	     padding:5px;
     background-color: #fbfbfb;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    border: 1px solid #cccccc;
}
form textarea#response {
     width: 100%;
     height: 400px;
     max-width: 800px;
     background-color: #fbfbfb;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    border: 1px solid #cccccc;
}
form textarea#tips {
     width: 100%;
     height: 100px;
     max-width: 800px;
     background-color: #fbfbfb;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    border: 1px solid #cccccc;
}
.companies{
    position: relative;
    top:-45px;
    left:180px; 
    width:150px;
    height:35px;
    background-color: #fbfbfb;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
    border: 1px solid #cccccc;
    padding:8px;
    
}
.post_company{
   color: #444;
   font-size: 1.7em;
   font-weight: 100;
   text-align: center;
   letter-spacing: -1px;
   float: left;
   max-width: 577px;
   overflow: hidden;
   text-indent: 5px;
    
}
.post_div{
    border: 1px solid rgba(0,0,0,0.16);
    box-shadow: 0 4px 10px 0px rgba(200,200,200,0.92);
    margin-bottom: 15px;
    height:auto;
    padding: 12px;
    line-height: 30px;
    min-height: 20px;
}
.post_author{
   float: right;
   font-style: italic;
   margin-top:8px;
   margin-right:10px;
}
.post_head{
   border-bottom-style:groove;
   line-height: 35px;
   min-height: 40px;
}
.post_content{
   white-space: pre-wrap;
   overflow-x: hidden;
   overflow-y: hidden;
   max-height: 84px;
   margin-left: 10px;
   margin-right: 10px;
   word-wrap: break-word;
   text-overflow: ellipsis;
}
.post_timestamp{
   float: right;
   margin-right: 4px;
   margin-top: 8px;
}
.post_complete_content{
   margin-top: 4px;
   white-space: pre-wrap;
   word-wrap: break-word;
}
.post_readMore{
   text-align: right;
}
.comment_container{

}
.comment_div{
    border: 1px solid #f6f7f8; 
    line-height: 30px;
}
.comment_main{

}
.comment_user{
   font-weight: bold;
}
.comment_comment{
   white-space: pre-wrap;
   word-wrap: break-word;
}
.comment_timestamp{

}
.adminverification_link{
   float: right;
   font-weight: bold;
   font-size: 1.1em;
   color: #444;
   border: 1px solid;
}
